<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a
            class="nav-link active"
            aria-current="page"
              [routerLink]="['']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a
            class="nav-link"
              [routerLink]="['/login']"
              routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a
              class="nav-link"
              [routerLink]="['/signup']"
              routerLinkActive="active"
              >Registrati</a
            >
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a
              class="nav-link"
              [routerLink]="['/utenti']"
              routerLinkActive="active"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              Utenti</a
            >
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a
              class="nav-link mr-9"
              [routerLink]="['/clienti']"
              routerLinkActive="active"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" class="bi bi-person-video3" viewBox="0 0 16 16">
                <path d="M14 9.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm-6 5.7c0 .8.8.8.8.8h6.4s.8 0 .8-.8-.8-3.2-4-3.2-4 2.4-4 3.2Z"/>
                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h5.243c.122-.326.295-.668.526-1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v7.81c.353.23.656.496.91.783.059-.187.09-.386.09-.593V4a2 2 0 0 0-2-2H2Z"/>
              </svg> Clienti</a
            >
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a
              class="nav-link"
              [routerLink]="['/fatture']"
              routerLinkActive="active"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
              </svg> Fatture</a
            >
          </li>
        </ul>
        <div *ngIf="isLoggedIn">
          <p class="d-inline username-welc-back">Bentornato <span *ngIf="utente" class="fst-italic fw-bolder">{{utente.username}}</span></p>
          <button class="btn btn-danger mx-3" id="logout" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
