thead {
  background-color: #9ab9ca;
  height: 50px;
}

td{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,233,255,1) 98%, rgba(144,162,232,1) 100%, rgba(218,249,255,1) 100%);
}

.btnViola{
  background-color: #413F81;
  border: none;
  margin-top: 90px;
}
