.sfondo{
  background-image: url("../assets/sfondo1.jpg");
  //background-position: left;
  background-size: cover;
  //background-size: 800px 800px;
  background-clip: border-box;
  background-repeat: no-repeat;
  height: 100vh;
}
