.table{
  margin-top: 80px;
}

thead {
  background-color: #9ab9ca;
  height: 50px;
}

td{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(206,228,240,1) 98%, rgba(144,162,232,1) 100%, rgba(218,249,255,1) 100%);}
